<div class="form-container">
  <form [formGroup]="rxform" (ngSubmit)="onSubmit()" class="claims-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Claims Information</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- Animal Photos Section -->
        <div class="form-row animal-photos-section">
          <label class="section-label">Evidence Photos</label>

          <!-- New previews -->
          <div *ngIf="previewPhotos.length > 0" class="photos-container">
            <div class="animal-photos-preview">
              <div class="photo-card" *ngFor="let preview of previewPhotos">
                <img
                  [src]="preview"
                  alt="Photo preview"
                  class="animal-photo"
                />
              </div>
            </div>
          </div>

          <!-- Upload Button -->
          <label for="animalPhotos" class="upload-btn">
            <span>Upload Photos</span>
            <input id="animalPhotos" type="file" (change)="onFilesSelected($event)" multiple hidden />
          </label>
        </div>

        <!-- Animal Selection -->
        <div class="form-row">

          <!-- <mat-form-field appearance="outline" class="half-width">
            <mat-label>Farmer</mat-label>
            <mat-select 
              formControlName="farmer" 
              [disabled]="user?.role === 'farmer'">
              <mat-option *ngFor="let f of farmers" [value]="f.id">{{ f.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="farmer.hasError('required')">Farmer is required.</mat-error>
          </mat-form-field> -->
          
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Livestock Group</mat-label>
            <mat-select (selectionChange)="onLivestockGroupChange($event.value)" [value]="selectedGroup"  formControlName="livestockGroup">
              <mat-option *ngFor="let g of livestockGroups" [value]="g._id">
                {{ g.groupName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Animal</mat-label>
            <mat-select formControlName="animal" required>
              <mat-option *ngFor="let a of filteredAnimals" [value]="a._id">
                {{ a.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="animal.hasError('required')">
              Animal is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Cause of Death Category</mat-label>
            <mat-select
              formControlName="causeOfDeathCategory"
              (selectionChange)="onCategoryChange($event.value)"
              required
            >
              <mat-option *ngFor="let c of deathCategory" [value]="c._id">
                {{ c.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="causeOfDeathCategory.hasError('required')">
              Category is required.
            </mat-error>
          </mat-form-field>
        </div>
         <div class="form-row" *ngIf="causeOfDeathItems.length">
            <!-- Cause of Death Items -->
            <mat-form-field *ngIf="rxform.get('causeOfDeath')" appearance="outline" class="full-width">
              <mat-label>Cause of Death</mat-label>
              <mat-select formControlName="causeOfDeath">
                <mat-option *ngFor="let c of causeOfDeathItems" [value]="c.value">{{ c.label }}</mat-option>
              </mat-select>
            </mat-form-field>
         </div>

        <div class="form-row" *ngIf="causeOfDeathCategory.value">
            <ng-container *ngIf="isOtherCategorySelected()">
                
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Specify Cause of Death</mat-label>
                    <input matInput formControlName="otherCauseOfDeath" required /> 
                    <mat-error *ngIf="otherCauseOfDeath.hasError('required')">
                        Please specify the cause of death.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>
        <!-- Farmer and Filed At -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width" >
            <mat-label>Policy</mat-label>
            <mat-select formControlName="policy" required>
              <mat-option *ngFor="let p of selectPolicy" [value]="p.id">
                {{ p.display }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="policy.hasError('required')">
              Policy is required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Date of Death -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="second-width">
            <mat-label>Filed At</mat-label>
            <input matInput type="date" formControlName="filedAt" />
            <mat-error *ngIf="filedAt.hasError('required')">
              Filed date is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="second-width">
            <mat-label>Date of Death</mat-label>
            <input matInput type="date" formControlName="dateOfDeath" />
            <mat-error *ngIf="dateOfDeath.hasError('required')">
              Date of death is required.
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="rxform.invalid || isLoading"
        >
          {{ isLoading ? 'Submitting...' : 'Submit' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
