<div class="page-container">

  @if (createButtonLabel && create) {
    <div class="actions" *ngIf="createButtonLabel">
      <button
        mat-raised-button
        (click)="onCreateClick()"
        [disabled]="isCreateDisabled()"
      >
        {{ createButtonLabel }}
      </button>
    </div>
  }
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="user-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table" matSort (matSortChange)="announceSortChange($event)">

      <!-- Dynamic columns -->
      @for (col of columnDefs; track col.key) {
        <ng-container [matColumnDef]="col.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.sortActionDescription]="'Sort by '+ col.key">{{ col.label }}</th>
          <td mat-cell *matCellDef="let element">
            @let cellValue = getCellValue(col, element);
            @if (col.key === 'message' && (cellValue?.dataLink || element?.link)) {
              <!-- enable data link -->
              <a
                [routerLink]="cellValue?.dataLink || element?.link"
                class="message-link"
              >
                {{ cellValue?.display || cellValue || element?.message }}
              </a>
              <!-- <a [routerLink]="getCellValue(col, element).dataLink">{{ getCellValue(col, element).display }}</a> -->
            } @else {
         
                {{ getCellValue(col, element) }}
            }
          </td>
        </ng-container>
      }

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="actionsTemplate; else defaultActions">
            <ng-container *ngTemplateOutlet="actionsTemplate; context: { $implicit: element }"></ng-container>
          </ng-container>

          <ng-template #defaultActions>
            <button mat-icon-button color="primary" (click)="onDetailsClick(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="onUpdateClick(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button mat-icon-button color="accent" (click)="onMarkAsReadClick(element)">
              <mat-icon>done_all</mat-icon>
            </button> -->
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    @if (isLoading) {
      <div class="spinner-container">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    }

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
