.main-container {
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #fafafa;
  padding-top: 10px;
}

.logout-btn {
  margin: 20px;
  width: calc(100% - 40px);
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  padding: 16px;
}
