<div class="form-container">
  <form [formGroup]="rxform" (ngSubmit)="onSubmit()" class="schedule-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Request Schedule</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Farmer</mat-label>
            <mat-select formControlName="farmer">
              <mat-option *ngFor="let f of farmers" [value]="f._id"
                >{{ f.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="rxform.controls.farmer.hasError('required')">
              Farmer is required.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Row 1: Animal Health Record -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
              <mat-label>Animal</mat-label>
              <mat-select formControlName="animal">
                <mat-option *ngFor="let l of filteredLivestocks" [value]="l._id"
                  >{{ l.name }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="rxform.controls.animal.hasError('required')">
                Animal is required.
              </mat-error>
            </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Health Record</mat-label>
            <mat-select formControlName="healthRecord">
              <mat-option
                *ngFor="let hr of filteredHealthRecords"
                [value]="hr._id"
              >
                {{ hr.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="rxform.controls.healthRecord.hasError('required')"
            >
              Health Record is required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Row 3: Assigned Vet Type -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Assigned Vet</mat-label>
            <mat-select formControlName="assignedVet">
              <mat-option *ngFor="let f of vets" [value]="f._id"
                >{{ f.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="rxform.controls.assignedVet.hasError('required')">
              Assigned Vet is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="vaccination">Vaccination</mat-option>
              <mat-option value="deworming">Deworming</mat-option>
            </mat-select>
            <mat-error *ngIf="rxform.controls.type.hasError('required')">
              Type is required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Row 5: Scheduled Date -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Scheduled Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="scheduledDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="rxform.controls.scheduledDate.hasError('required')"
            >
              Scheduled Date is required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Row 6: Status -->
        <!-- <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="pending">Pending</mat-option>
              <mat-option value="approved">Approved</mat-option>
              <mat-option value="declined">Declined</mat-option>
              <mat-option value="completed">Completed</mat-option>
            </mat-select>
            <mat-error *ngIf="rxform.controls.status.hasError('required')">
              Status is required.
            </mat-error>
          </mat-form-field>
        </div> -->
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="rxform.invalid || isLoading"
        >
          {{ isLoading ? 'Saving...' : 'Submit' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
